@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-- VARIABLES CSS--*/
/*Colores*/
:root{
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 2rem 0 0 0;
    background-color: #d77a2b;
    color: var(--dark-color);
    font-family: var(--body-font);
}
/* Style général de la navigation */
nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0;
    z-index: 99;
}

/* Conteneur des onglets (à gauche) */
nav .cntr-nav {
    display: flex;
    gap: 2vw;
    margin-left: 12vw; /* Onglets fixés à gauche */
    background-color: rgba(225, 225, 225, 0.9); /* blanc presque opaque */
    padding: 1rem 2rem;
    border-radius: 12px;
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* ombre douce */
}

/* Style des liens */
nav a {
    font-size: 2.5vw;
    text-decoration: none;
    color: #2d2f31;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: bold;
}

/* Style de l'image (fixée à droite) */
nav img {
    margin-top: 3vh;
    width: 15vw;
    cursor: pointer;
    margin-right: 2vw; /* Image fixée à droite */
}

/* Style des icônes */
nav i {
    font-size: 8vw;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

/* Style des boutons */
nav button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    background-color: #fff;
    border: none;
    border-radius: 24px;
    box-shadow: 
        rgba(0, 0, 0, 0.2) 0 3px 5px -1px, 
        rgba(0, 0, 0, 0.14) 0 6px 10px 0, 
        rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    box-sizing: border-box;
    cursor: pointer;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    letter-spacing: 0.25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: 
        box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 15ms linear 30ms,
        transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

/* Hover sur les boutons */
nav button:hover {
    background: #F6F9FE;
    color: #174ea6;
}
h1{
    font-size: var(--h1-font-size);
    font-family: 'Arial Black', Arial, sans-serif;
    color: #000000; /* Couleur foncée */
    font-size: clamp(1rem, 5vw, 3rem);
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
}
.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop{
    position: relative;
    margin: 0 2.5rem;
}
.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: .25rem;
}

/*-- COMPONENT --*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
article:nth-child(1){
    background-color: var(--first-color);
}
article:nth-child(2){
    background-color: var(--second-color);
}
article:nth-child(3){
    background-color: var(--third-color);
}
article:nth-child(4){
    background-color: var(--second-color);
}
article:nth-child(5){
    background-color: var(--second-color);
}
article:nth-child(6){
    background-color: var(--second-color);
}
article:nth-child(7){
    background-color: var(--second-color);
}
article:nth-child(8){
    background-color: var(--second-color);
}
article:nth-child(9){
    background-color: var(--second-color);
}
article:nth-child(10){
    background-color: var(--second-color);
}
article:nth-child(11){
    background-color: var(--second-color);
}
article:nth-child(12){
    background-color: var(--second-color);
}
article:nth-child(13){
    background-color: var(--second-color);
}
.card__img{
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}
.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
}

.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: bold;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    transform: rotate(30deg);
    margin-left: 3.5rem;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}